workflows/legacy/09_agent_web.json
{
  "name": "Agent: Web Application",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "agent/web", "responseMode": "lastNode"},
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "agent-web",
      "id": "webhook"
    },
    {
      "parameters": {
        "functionCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{json: {target: body.target, project_id: body.project_id, scan_mode: body.scan_mode || 'standard', session_id: body.session_id}}];"
      },
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "parse"
    },
    {
      "parameters": {
        "command": "=nuclei -u {{ $json.target }} -t cves/ -t vulnerabilities/ -silent -json -o /tmp/nuclei_{{ $json.session_id }}.json",
        "options": {"timeout": 900000}
      },
      "name": "Nuclei",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 200],
      "id": "nuclei"
    },
    {
      "parameters": {
        "command": "=ffuf -u {{ $json.target }}/FUZZ -w /opt/SecLists/Discovery/Web-Content/common.txt -mc 200,301,302,403 -o /tmp/ffuf_{{ $json.session_id }}.json -of json",
        "options": {"timeout": 600000}
      },
      "name": "FFUF",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 400],
      "id": "ffuf"
    },
    {
      "parameters": {
        "functionCode": "const results = $input.all();\nreturn [{json: {agent_name: 'web', success: true, findings_count: results.length, results: results.map(r => r.json)}}];"
      },
      "name": "Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "aggregate"
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}"},
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "id": "response"
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Parse", "type": "main", "index": 0}]]},
    "Parse": {"main": [[{"node": "Nuclei", "type": "main", "index": 0}, {"node": "FFUF", "type": "main", "index": 0}]]},
    "Nuclei": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]},
    "FFUF": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]},
    "Aggregate": {"main": [[{"node": "Response", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"id": "1", "name": "agent"}],
  "updatedAt": "2025-01-01T00:00:00.000Z"
}
