workflows/legacy_2/11_agent_cloud.json
{
  "name": "Agent: Cloud Security",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "agent/cloud", "responseMode": "lastNode"},
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "agent-cloud",
      "id": "webhook"
    },
    {
      "parameters": {
        "functionCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{json: {target: body.target, project_id: body.project_id, cloud_provider: body.cloud_provider || 'azure', tenant_id: body.tenant_id, session_id: body.session_id}}];"
      },
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "parse"
    },
    {
      "parameters": {
        "command": "=az account list --output json > /tmp/azure_accounts_{{ $json.session_id }}.json",
        "options": {"timeout": 300000}
      },
      "name": "Azure List Accounts",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 200],
      "id": "az-accounts"
    },
    {
      "parameters": {
        "command": "=scout azure --report-dir /tmp/scout_{{ $json.session_id }}",
        "options": {"timeout": 900000}
      },
      "name": "ScoutSuite",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 400],
      "id": "scout"
    },
    {
      "parameters": {
        "functionCode": "const results = $input.all();\nreturn [{json: {agent_name: 'cloud', success: true, findings_count: results.length, results: results.map(r => r.json)}}];"
      },
      "name": "Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "aggregate"
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}"},
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "id": "response"
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Parse", "type": "main", "index": 0}]]},
    "Parse": {"main": [[{"node": "Azure List Accounts", "type": "main", "index": 0}, {"node": "ScoutSuite", "type": "main", "index": 0}]]},
    "Azure List Accounts": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]},
    "ScoutSuite": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]},
    "Aggregate": {"main": [[{"node": "Response", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"id": "1", "name": "agent"}],
  "updatedAt": "2025-01-01T00:00:00.000Z"
}
