workflows/legacy_2/12_agent_api.json
{
  "name": "Agent: API Testing",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "agent/api", "responseMode": "lastNode"},
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "agent-api",
      "id": "webhook"
    },
    {
      "parameters": {
        "functionCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{json: {target: body.target, project_id: body.project_id, api_spec_url: body.api_spec_url, session_id: body.session_id}}];"
      },
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "parse"
    },
    {
      "parameters": {
        "command": "=nuclei -u {{ $json.target }} -t apis/ -silent -json -o /tmp/api_nuclei_{{ $json.session_id }}.json",
        "options": {"timeout": 600000}
      },
      "name": "Nuclei API Templates",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 200],
      "id": "nuclei"
    },
    {
      "parameters": {
        "command": "=ffuf -u {{ $json.target }}/FUZZ -w /opt/SecLists/Discovery/Web-Content/api/api-endpoints.txt -mc 200 -o /tmp/api_ffuf_{{ $json.session_id }}.json -of json",
        "options": {"timeout": 600000}
      },
      "name": "API Endpoint Discovery",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 400],
      "id": "ffuf"
    },
    {
      "parameters": {
        "functionCode": "const results = $input.all();\nreturn [{json: {agent_name: 'api', success: true, findings_count: results.length, results: results.map(r => r.json)}}];"
      },
      "name": "Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "aggregate"
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}"},
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "id": "response"
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Parse", "type": "main", "index": 0}]]},
    "Parse": {"main": [[{"node": "Nuclei API Templates", "type": "main", "index": 0}, {"node": "API Endpoint Discovery", "type": "main", "index": 0}]]},
    "Nuclei API Templates": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]},
    "API Endpoint Discovery": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]},
    "Aggregate": {"main": [[{"node": "Response", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"id": "1", "name": "agent"}],
  "updatedAt": "2025-01-01T00:00:00.000Z"
}
