workflows/legacy_2/14_exploit_runner.json
{
  "name": "Exploit Runner (Approved Exploitation)",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "exploit/run", "responseMode": "lastNode"},
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "exploit-runner",
      "id": "webhook"
    },
    {
      "parameters": {
        "functionCode": "const body = $input.first().json.body || $input.first().json;\nif (!body.approval_id || !body.exploit_type) {\n  throw new Error('approval_id and exploit_type required');\n}\nreturn [{json: body}];"
      },
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "parse"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM approval_queue WHERE id = '{{ $json.approval_id }}' AND status = 'approved';",
        "options": {}
      },
      "name": "Verify Approval",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [680, 300],
      "id": "verify",
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Recon Hub"}}
    },
    {
      "parameters": {
        "conditions": {"string": [{"value1": "={{ $json.status }}", "operation": "equals", "value2": "approved"}]}
      },
      "name": "Is Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300],
      "id": "is-approved"
    },
    {
      "parameters": {
        "command": "={% if $('Parse').item.json.exploit_type == 'sqlmap' %}sqlmap -u {{ $('Parse').item.json.target }} --batch --risk=2 --level=2{% elif $('Parse').item.json.exploit_type == 'nuclei' %}nuclei -u {{ $('Parse').item.json.target }} -t {{ $('Parse').item.json.template }}{% else %}echo 'Unknown exploit type'{% endif %}",
        "options": {"timeout": 900000}
      },
      "name": "Execute Exploit",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1120, 200],
      "id": "execute"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO exploit_executions (project_id, approval_id, exploit_type, target_host, status, command, results, started_at, completed_at) VALUES ('{{ $('Verify Approval').item.json.project_id }}', '{{ $json.approval_id }}', '{{ $('Parse').item.json.exploit_type }}', '{{ $('Parse').item.json.target }}', 'completed', '{{ $json.command }}', '{{ JSON.stringify($json.stdout) }}'::jsonb, NOW(), NOW()) RETURNING id;",
        "options": {}
      },
      "name": "Record Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 200],
      "id": "record",
      "credentials": {"postgres": {"id": "1", "name": "PostgreSQL - Recon Hub"}}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success: true, execution_id: $json.id}) }}"
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300],
      "id": "response"
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Parse", "type": "main", "index": 0}]]},
    "Parse": {"main": [[{"node": "Verify Approval", "type": "main", "index": 0}]]},
    "Verify Approval": {"main": [[{"node": "Is Approved", "type": "main", "index": 0}]]},
    "Is Approved": {"main": [[{"node": "Execute Exploit", "type": "main", "index": 0}]]},
    "Execute Exploit": {"main": [[{"node": "Record Execution", "type": "main", "index": 0}]]},
    "Record Execution": {"main": [[{"node": "Response", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"id": "1", "name": "exploit"}],
  "updatedAt": "2025-01-01T00:00:00.000Z"
}
