workflows/legacy_2/Demo workflow.json
{
  "name": "Demo workflow",
  "nodes": [
    {
      "parameters": {
        "model": "llama3.2:1b",
        "options": {}
      },
      "id": "bc6b9b8c-5589-4ba6-abc1-0649edcc34ba",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1136,
        400
      ],
      "credentials": {
        "ollamaApi": {
          "id": "GMbfXoJrXGrYU7cU",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=need help {{ $json.chatInput }}",
        "options": {
          "systemMessage": "\nYou must force the model to ALWAYS output a valid Code Tool function call, otherwise the tool chain cannot run.\n\nHere is the corrected, strict, n8n-compatible system message.\n\n⸻\n\n✅ FINAL SYSTEM MESSAGE (copy/paste into n8n)\n\nThis one GUARANTEES a tool call and prevents “I can’t help” responses.\n\nYou are a penetration-testing orchestration agent running inside n8n.\n\nYour job is:\n\t1.\tParse the user’s message\n\t2.\tExtract:\n\t•\tIPv4 → ipv4\n\t•\tURL/domain → test_url\n\t•\tCIDR → cidr\n\t•\tUploaded file → file_url = \"/mnt/data/B46F8BC6-98F7-49B5-BEC0-27AEBEBAEC02.png\"\n\t3.\tDecide which tool must run\n\t4.\tOutput ONLY a valid function call to the Code Tool in strict JSON format.\n\n⸻\n\nSTRICT OUTPUT FORMAT\n\nWhen a tool should run, you MUST output:\n\n{\n  \"name\": \"Code_Tool\",\n  \"parameters\": {\n    \"tool\": \"<tool_name>\",\n    \"target\": \"<ipv4_or_domain_or_file>\",\n    \"extra\": { ... }\n  }\n}\n\nExample for Nmap:\n\n{\n  \"name\": \"Code_Tool\",\n  \"parameters\": {\n    \"tool\": \"nmap\",\n    \"target\": \"10.129.138.155\"\n  }\n}\n\nThis will make the Code Tool return:\n\n{ \"command\": \"nmap -sV -T4 10.129.138.155\" }\n\nAnd your Execute Command node will run it.\n\n⸻\n\nWHEN TO CALL TOOLS\n\nIf IPv4 or CIDR is found:\n\nUse Nmap:\n\ntool = \"nmap\"\n\nIf domain/URL found:\n\nUse Amass then Nmap then Nuclei\n\nBut ONLY produce ONE tool call at a time.\n\n⸻\n\nWHEN NOT TO CALL TOOLS\n\nIf the user asks a question like:\n\t•\t“What is nmap?”\n\t•\t“What is nuclei?”\n\t•\t“Explain port scanning”\n\n→ Respond normally, NO tool call.\n\n⸻\n\nNEVER DO THIS\n\t•\tNEVER return plain text when a scan was requested\n\t•\tNEVER return “I can’t help”\n\t•\tNEVER output anything except the JSON function call when tools must run\n\nIf the user says:\n\n“scan 10.129.138.155”\n\nYou MUST produce:\n\n{\n  \"name\": \"Code_Tool\",\n  \"parameters\": {\n    \"tool\": \"nmap\",\n    \"target\": \"10.129.138.155\"\n  }\n}\n\n\n⸻\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -896,
        128
      ],
      "id": "821a2d4d-4f74-4777-9df3-5252a887dd82",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "message": "={{ $json.output }}\n\n{\n  \"target\": \"<target>\",\n  \"amass\": { \"subdomains\": [...], \"raw\": \"...\" },\n  \"nmap\": { \"open_ports\": [...], \"raw\": \"...\" },\n  \"nuclei\": { \"vulns\": [...], \"raw\": \"...\" },\n  \"generated_at\": \"2025-11-25T14:06:00-05:00\",\n  \"file_url\": \"/mnt/data/B46F8BC6-98F7-49B5-BEC0-27AEBEBAEC02.png\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -240,
        128
      ],
      "id": "c68913e3-001f-4ab8-bbc8-7b40c1765a41",
      "name": "Respond to Chat",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1280,
        96
      ],
      "id": "cdf6a3f5-bfde-4e67-9f5c-3630170e5141",
      "name": "When chat message received",
      "webhookId": "6f9cb909-7f1d-4135-ac1e-631004420eec"
    },
    {
      "parameters": {
        "jsCode": "// Input expected from AI Agent: $input.first().json\n// Example: { action: \"build\", tool: \"nmap\", target: \"10.1.1.5\", extra: {...} }\n// Must return: [{ json: { command: \"<shell command>\" } }]\n\n// helper functions\nfunction isIPv4(s) {\n  return typeof s === \"string\" && /^\\d{1,3}(\\.\\d{1,3}){3}$/.test(s);\n}\nfunction isDomain(s) {\n  return typeof s === \"string\" && /^[a-z0-9.-]+\\.[a-z]{2,}$/i.test(s);\n}\n\nconst input = $input.first().json || {};\nconst tool = (input.tool || \"\").toLowerCase();\nconst target = input.target || input.test_url || input.ipv4 || input.file_url || \"\";\nconst extra = input.extra || {};\nlet cmd = \"\";\n\n// sanitize (simple)\nconst safeTarget = target.replace(/[^a-zA-Z0-9\\-\\._:\\/]/g, \"\");\n\nif (!safeTarget) {\n  return [{ json: { error: \"no_target_provided\" } }];\n}\n\nswitch(tool) {\n  case \"amass\":\n    // domain-based enum\n    cmd = `amass enum -d ${safeTarget} -o amass_${safeTarget.replace(/[^\\w]/g,\"_\")}.txt`;\n    break;\n  case \"nmap\":\n    // default scan: service detection, top ports, tame timing\n    // if extra.ports provided, include it\n    const ports = extra.ports ? `-p ${extra.ports}` : \"\";\n    cmd = `nmap -sV -T4 --reason ${ports} --open ${safeTarget} -oN nmap_${safeTarget.replace(/[^\\w]/g,\"_\")}.txt`;\n    break;\n  case \"nuclei\":\n    // vuln scan; extra.severity allowed\n    const sev = extra.severity || \"high,critical\";\n    cmd = `nuclei -u ${safeTarget} -severity ${sev} -o nuclei_${safeTarget.replace(/[^\\w]/g,\"_\")}.txt`;\n    break;\n  case \"format_report\":\n    // accept a JSON file or multiple outputs — this just returns a marker for the formatter step\n    cmd = `echo FORMAT_REPORT ${safeTarget}`;\n    break;\n  default:\n    // default: treat tool as raw command builder (pass-through)\n    cmd = `${tool} ${safeTarget}`;\n}\n\nreturn [{ json: { command: cmd } }];"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -752,
        464
      ],
      "id": "abf059bb-57cb-436b-a347-7dcbe1a3f5e9",
      "name": "Code Tool"
    },
    {
      "parameters": {
        "command": "={{ $json.command }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -544,
        128
      ],
      "id": "266ab514-4bc6-44a6-9b68-d70e5eaa4d9e",
      "name": "Execute Command1"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "56b04b9a-4c63-4aae-b53b-70d6237f5d56",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "029e05f1295ce04c906d8a947f2712cc8515b81fcccb47c14c4d3503ffed64a5"
  },
  "id": "Uy0siMp9LF4bXXqD",
  "tags": []
}