workflows/legacy_2/httpx.json
{
  "name": "httpx - HTTP Service Probe",
  "nodes": [
    {
      "parameters": {
        "path": "httpx",
        "options": {
          "responseData": "HTTP probing started!"
        },
        "httpMethod": "POST"
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-640, -240],
      "webhookId": "httpx-webhook"
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-640, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "target",
              "type": "string",
              "value": "={{ $json.target || $json.body.target || $json.list || 'https://example.com' }}"
            },
            {
              "id": "2",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now.format('yyyyMMdd_HHmmss') }}"
            },
            {
              "id": "3",
              "name": "is_list",
              "type": "boolean",
              "value": "={{ $json.target && $json.target.includes('\\n') }}"
            }
          ]
        }
      },
      "id": "set-params",
      "name": "1. Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [-320, -120]
    },
    {
      "parameters": {
        "command": "=# Prepare input\n{{ $json.is_list ? 'echo \"' + $json.target + '\" > /tmp/httpx_input_' + $json.timestamp + '.txt' : 'echo \"' + $json.target + '\" > /tmp/httpx_input_' + $json.timestamp + '.txt' }}\n\n# Run httpx with comprehensive probing\nhttpx -l /tmp/httpx_input_{{ $json.timestamp }}.txt -silent -json -status-code -title -tech-detect -web-server -method -ip -cname -cdn -location -content-length -threads 50\n\n# Cleanup\nrm -f /tmp/httpx_input_{{ $json.timestamp }}.txt"
      },
      "id": "run-httpx",
      "name": "2. Execute httpx",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [0, -120]
    },
    {
      "parameters": {
        "jsCode": "// Parse httpx JSON output\nconst raw = $input.first().json;\nconst output = raw.stdout || '';\nconst params = $('1. Set Parameters').first().json;\n\nconst lines = output.split('\\n').filter(line => line.trim());\nconst results = [];\n\nconsole.log(`=== PARSING HTTPX OUTPUT ===`);\nconsole.log(`Raw lines: ${lines.length}`);\n\nfor (const line of lines) {\n  try {\n    const data = JSON.parse(line);\n    \n    const result = {\n      url: data.url || 'unknown',\n      host: data.host || '',\n      status_code: data.status_code || 0,\n      title: data.title || '',\n      webserver: data.webserver || '',\n      tech: data.tech || [],\n      method: data.method || '',\n      ip: data.ip || '',\n      cname: data.cname || '',\n      cdn: data.cdn || false,\n      content_length: data['content-length'] || 0,\n      location: data.location || '',\n      timestamp: new Date().toISOString()\n    };\n    \n    results.push(result);\n    console.log(`  ✓ ${result.url} [${result.status_code}] - ${result.title}`);\n  } catch (e) {\n    console.log(`  ✗ Failed to parse line: ${line.substring(0, 50)}...`);\n  }\n}\n\nconsole.log(`✓ Parsed ${results.length} HTTP probes`);\n\n// Calculate statistics\nconst stats = {\n  total: results.length,\n  status_2xx: results.filter(r => r.status_code >= 200 && r.status_code < 300).length,\n  status_3xx: results.filter(r => r.status_code >= 300 && r.status_code < 400).length,\n  status_4xx: results.filter(r => r.status_code >= 400 && r.status_code < 500).length,\n  status_5xx: results.filter(r => r.status_code >= 500).length,\n  with_cdn: results.filter(r => r.cdn).length,\n  unique_techs: [...new Set(results.flatMap(r => r.tech))].length\n};\n\nconst outputData = {\n  scan_timestamp: params.timestamp,\n  statistics: stats,\n  results: results\n};\n\nconst buffer = Buffer.from(JSON.stringify(outputData, null, 2), 'utf-8');\n\nreturn [{\n  json: outputData,\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'application/json',\n      fileName: 'httpx_results.json'\n    }\n  }\n}];"
      },
      "id": "parse-output",
      "name": "3. Parse httpx Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, -120]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/httpx_parsed_{{ $('1. Set Parameters').first().json.timestamp }}.json",
        "dataPropertyName": "data"
      },
      "id": "save-results",
      "name": "4. Save Results",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [640, -120]
    },
    {
      "parameters": {
        "jsCode": "// Generate HTML Report for httpx Results\nconst data = $input.first().json;\nconst stats = data.statistics;\n\nfunction statusColor(code) {\n  if (code >= 200 && code < 300) return '#4caf50';\n  if (code >= 300 && code < 400) return '#ff9800';\n  if (code >= 400 && code < 500) return '#f44336';\n  if (code >= 500) return '#9c27b0';\n  return '#757575';\n}\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>httpx Probe Report</title>\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;\n      line-height: 1.6;\n      color: #333;\n      background-color: #f5f5f5;\n    }\n    .container {\n      max-width: 1400px;\n      margin: 0 auto;\n      padding: 20px;\n      background-color: white;\n    }\n    .header {\n      background: linear-gradient(135deg, #00c853 0%, #00796b 100%);\n      color: white;\n      padding: 40px 30px;\n      margin: -20px -20px 30px -20px;\n    }\n    h1 { font-size: 28px; margin-bottom: 10px; }\n    .stats {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));\n      gap: 15px;\n      margin: 20px 0;\n    }\n    .stat-card {\n      background: linear-gradient(135deg, #00c853 0%, #00796b 100%);\n      color: white;\n      padding: 20px;\n      border-radius: 8px;\n      text-align: center;\n    }\n    .stat-card .value { font-size: 32px; font-weight: bold; }\n    .stat-card .label { font-size: 12px; margin-top: 8px; opacity: 0.9; }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin: 20px 0;\n      box-shadow: 0 1px 3px rgba(0,0,0,0.1);\n      font-size: 14px;\n    }\n    th, td {\n      padding: 10px;\n      text-align: left;\n      border-bottom: 1px solid #e0e0e0;\n    }\n    th {\n      background-color: #00c853;\n      color: white;\n      font-weight: 600;\n      text-transform: uppercase;\n      font-size: 11px;\n    }\n    tr:hover { background-color: #f5fff5; }\n    .url { font-family: monospace; color: #00796b; font-weight: 500; }\n    .status-badge {\n      display: inline-block;\n      padding: 4px 8px;\n      border-radius: 4px;\n      color: white;\n      font-size: 11px;\n      font-weight: 600;\n    }\n    .tech-tag {\n      display: inline-block;\n      background-color: #e8f5e9;\n      color: #2e7d32;\n      padding: 2px 8px;\n      margin: 2px;\n      border-radius: 3px;\n      font-size: 11px;\n    }\n    .cdn-badge {\n      background-color: #fff3e0;\n      color: #f57c00;\n      padding: 2px 8px;\n      border-radius: 3px;\n      font-size: 11px;\n      font-weight: 600;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>httpx HTTP Probe Report</h1>\n      <div>Scan Time: ${new Date().toISOString()}</div>\n    </div>\n\n    <h2>Statistics</h2>\n    <div class=\"stats\">\n      <div class=\"stat-card\">\n        <div class=\"value\">${stats.total}</div>\n        <div class=\"label\">Total Probed</div>\n      </div>\n      <div class=\"stat-card\">\n        <div class=\"value\">${stats.status_2xx}</div>\n        <div class=\"label\">2xx Success</div>\n      </div>\n      <div class=\"stat-card\">\n        <div class=\"value\">${stats.status_3xx}</div>\n        <div class=\"label\">3xx Redirect</div>\n      </div>\n      <div class=\"stat-card\">\n        <div class=\"value\">${stats.status_4xx}</div>\n        <div class=\"label\">4xx Client Error</div>\n      </div>\n      <div class=\"stat-card\">\n        <div class=\"value\">${stats.status_5xx}</div>\n        <div class=\"label\">5xx Server Error</div>\n      </div>\n      <div class=\"stat-card\">\n        <div class=\"value\">${stats.with_cdn}</div>\n        <div class=\"label\">Behind CDN</div>\n      </div>\n    </div>\n\n    <h2>Probe Results</h2>\n    <table>\n      <thead>\n        <tr>\n          <th>URL</th>\n          <th>Status</th>\n          <th>Title</th>\n          <th>Server</th>\n          <th>IP</th>\n          <th>Technologies</th>\n          <th>CDN</th>\n        </tr>\n      </thead>\n      <tbody>\n${data.results.map(r => `        <tr>\n          <td class=\"url\">${r.url}</td>\n          <td><span class=\"status-badge\" style=\"background-color:${statusColor(r.status_code)}\">${r.status_code}</span></td>\n          <td>${r.title || '-'}</td>\n          <td>${r.webserver || '-'}</td>\n          <td>${r.ip || '-'}</td>\n          <td>${r.tech.map(t => `<span class=\"tech-tag\">${t}</span>`).join('') || '-'}</td>\n          <td>${r.cdn ? '<span class=\"cdn-badge\">CDN</span>' : '-'}</td>\n        </tr>`).join('\\n')}\n      </tbody>\n    </table>\n  </div>\n</body>\n</html>`;\n\nconst buffer = Buffer.from(html, 'utf-8');\n\nreturn [{\n  json: { html: html },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'httpx_report.html'\n    }\n  }\n}];"
      },
      "id": "generate-report",
      "name": "5. Generate HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, -120]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/httpx_report_{{ $('1. Set Parameters').first().json.timestamp }}.html",
        "dataPropertyName": "data"
      },
      "id": "save-report",
      "name": "6. Save HTML Report",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1280, -120]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "1. Set Parameters", "type": "main", "index": 0 }]]
    },
    "Manual Trigger": {
      "main": [[{ "node": "1. Set Parameters", "type": "main", "index": 0 }]]
    },
    "1. Set Parameters": {
      "main": [[{ "node": "2. Execute httpx", "type": "main", "index": 0 }]]
    },
    "2. Execute httpx": {
      "main": [[{ "node": "3. Parse httpx Output", "type": "main", "index": 0 }]]
    },
    "3. Parse httpx Output": {
      "main": [[{ "node": "4. Save Results", "type": "main", "index": 0 }]]
    },
    "4. Save Results": {
      "main": [[{ "node": "5. Generate HTML Report", "type": "main", "index": 0 }]]
    },
    "5. Generate HTML Report": {
      "main": [[{ "node": "6. Save HTML Report", "type": "main", "index": 0 }]]
    }
  }
}
