workflows/legacy_2/subfinder.json
{
  "name": "Subfinder - Subdomain Enumeration",
  "nodes": [
    {
      "parameters": {
        "path": "subfinder",
        "options": {
          "responseData": "Subdomain enumeration started!"
        },
        "httpMethod": "POST"
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-640, -240],
      "webhookId": "subfinder-webhook"
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-640, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "domain",
              "type": "string",
              "value": "={{ $json.domain || $json.body.domain || 'example.com' }}"
            },
            {
              "id": "2",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now.format('yyyyMMdd_HHmmss') }}"
            },
            {
              "id": "3",
              "name": "output_file",
              "type": "string",
              "value": "=/tmp/subfinder_{{ $now.format('yyyyMMdd_HHmmss') }}.txt"
            }
          ]
        }
      },
      "id": "set-params",
      "name": "1. Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [-320, -120]
    },
    {
      "parameters": {
        "command": "=# Run subfinder for subdomain enumeration\nsubfinder -d {{ $json.domain }} -silent -o {{ $json.output_file }}\n\n# Display results\necho \"=== SUBFINDER RESULTS ===\"\necho \"Domain: {{ $json.domain }}\"\necho \"Subdomains found: $(wc -l < {{ $json.output_file }})\"\necho \"\"\ncat {{ $json.output_file }}"
      },
      "id": "run-subfinder",
      "name": "2. Execute Subfinder",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [0, -120]
    },
    {
      "parameters": {
        "jsCode": "// Parse Subfinder output\nconst raw = $input.first().json;\nconst output = raw.stdout || '';\nconst params = $('1. Set Parameters').first().json;\n\nconst lines = output.split('\\n').filter(line => line.trim() && !line.startsWith('===') && !line.startsWith('Domain:') && !line.startsWith('Subdomains found:'));\n\nconst subdomains = [];\nconst uniqueSubdomains = new Set();\n\nconsole.log(`=== PARSING SUBFINDER OUTPUT ===`);\nconsole.log(`Raw lines: ${lines.length}`);\n\nfor (const line of lines) {\n  const subdomain = line.trim();\n  if (subdomain && !uniqueSubdomains.has(subdomain)) {\n    uniqueSubdomains.add(subdomain);\n    subdomains.push({\n      subdomain: subdomain,\n      domain: params.domain,\n      discovered_at: new Date().toISOString()\n    });\n    console.log(`  + ${subdomain}`);\n  }\n}\n\nconsole.log(`✓ Found ${subdomains.length} unique subdomains`);\n\nconst outputData = {\n  domain: params.domain,\n  timestamp: params.timestamp,\n  total_subdomains: subdomains.length,\n  subdomains: subdomains\n};\n\nconst buffer = Buffer.from(JSON.stringify(outputData, null, 2), 'utf-8');\n\nreturn [{\n  json: outputData,\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'application/json',\n      fileName: 'subfinder_results.json'\n    }\n  }\n}];"
      },
      "id": "parse-output",
      "name": "3. Parse Subfinder Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, -120]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/subfinder_parsed_{{ $('1. Set Parameters').first().json.timestamp }}.json",
        "dataPropertyName": "data"
      },
      "id": "save-results",
      "name": "4. Save Results",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [640, -120]
    },
    {
      "parameters": {
        "jsCode": "// Generate HTML Report for Subfinder Results\nconst data = $input.first().json;\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Subfinder Report - ${data.domain}</title>\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;\n      line-height: 1.6;\n      color: #333;\n      background-color: #f5f5f5;\n    }\n    .container {\n      max-width: 1200px;\n      margin: 0 auto;\n      padding: 20px;\n      background-color: white;\n    }\n    .header {\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      color: white;\n      padding: 40px 30px;\n      margin: -20px -20px 30px -20px;\n    }\n    h1 { font-size: 28px; margin-bottom: 10px; }\n    .meta { background-color: #f9f9f9; padding: 15px; margin-bottom: 20px; border-left: 4px solid #667eea; }\n    .stats {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n      gap: 20px;\n      margin: 20px 0;\n    }\n    .stat-card {\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      color: white;\n      padding: 20px;\n      border-radius: 8px;\n      text-align: center;\n    }\n    .stat-card .value { font-size: 36px; font-weight: bold; }\n    .stat-card .label { font-size: 14px; margin-top: 8px; opacity: 0.9; }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin: 20px 0;\n      box-shadow: 0 1px 3px rgba(0,0,0,0.1);\n    }\n    th, td {\n      padding: 12px;\n      text-align: left;\n      border-bottom: 1px solid #e0e0e0;\n    }\n    th {\n      background-color: #667eea;\n      color: white;\n      font-weight: 600;\n      text-transform: uppercase;\n      font-size: 12px;\n    }\n    tr:hover { background-color: #f5f5ff; }\n    .subdomain { font-family: monospace; color: #667eea; font-weight: 500; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Subfinder Enumeration Report</h1>\n      <div>Domain: ${data.domain}</div>\n    </div>\n\n    <div class=\"meta\">\n      <div><strong>Scan Date:</strong> ${new Date().toISOString().split('T')[0]}</div>\n      <div><strong>Scan Time:</strong> ${new Date().toISOString().split('T')[1].split('.')[0]}</div>\n    </div>\n\n    <div class=\"stats\">\n      <div class=\"stat-card\">\n        <div class=\"value\">${data.total_subdomains}</div>\n        <div class=\"label\">Subdomains Discovered</div>\n      </div>\n    </div>\n\n    <h2>Discovered Subdomains</h2>\n    <table>\n      <thead>\n        <tr>\n          <th>#</th>\n          <th>Subdomain</th>\n          <th>Discovered At</th>\n        </tr>\n      </thead>\n      <tbody>\n${data.subdomains.map((sub, idx) => `        <tr>\n          <td>${idx + 1}</td>\n          <td class=\"subdomain\">${sub.subdomain}</td>\n          <td>${sub.discovered_at}</td>\n        </tr>`).join('\\n')}\n      </tbody>\n    </table>\n  </div>\n</body>\n</html>`;\n\nconst buffer = Buffer.from(html, 'utf-8');\n\nreturn [{\n  json: { html: html },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'subfinder_report.html'\n    }\n  }\n}];"
      },
      "id": "generate-report",
      "name": "5. Generate HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, -120]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/subfinder_report_{{ $('1. Set Parameters').first().json.timestamp }}.html",
        "dataPropertyName": "data"
      },
      "id": "save-report",
      "name": "6. Save HTML Report",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1280, -120]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "1. Set Parameters", "type": "main", "index": 0 }]]
    },
    "Manual Trigger": {
      "main": [[{ "node": "1. Set Parameters", "type": "main", "index": 0 }]]
    },
    "1. Set Parameters": {
      "main": [[{ "node": "2. Execute Subfinder", "type": "main", "index": 0 }]]
    },
    "2. Execute Subfinder": {
      "main": [[{ "node": "3. Parse Subfinder Output", "type": "main", "index": 0 }]]
    },
    "3. Parse Subfinder Output": {
      "main": [[{ "node": "4. Save Results", "type": "main", "index": 0 }]]
    },
    "4. Save Results": {
      "main": [[{ "node": "5. Generate HTML Report", "type": "main", "index": 0 }]]
    },
    "5. Generate HTML Report": {
      "main": [[{ "node": "6. Save HTML Report", "type": "main", "index": 0 }]]
    }
  }
}
