workflows/legacy_2/legacy_2/08_agent_recon.json
{
  "name": "Agent: Reconnaissance",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "agent/recon", "responseMode": "lastNode"},
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "agent-recon",
      "id": "webhook"
    },
    {
      "parameters": {
        "functionCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{json: {target: body.target, project_id: body.project_id, scan_mode: body.scan_mode || 'standard', session_id: body.session_id}}];"
      },
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "parse"
    },
    {
      "parameters": {
        "command": "=subfinder -d {{ $json.target }} -silent",
        "options": {"timeout": 300000}
      },
      "name": "Subfinder",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 200],
      "id": "subfinder"
    },
    {
      "parameters": {
        "command": "=nmap -sV -T4 --top-ports 1000 {{ $json.target }} -oX /tmp/nmap_{{ $json.session_id }}.xml",
        "options": {"timeout": 600000}
      },
      "name": "Nmap",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 400],
      "id": "nmap"
    },
    {
      "parameters": {
        "functionCode": "const results = $input.all();\nreturn [{json: {agent_name: 'recon', success: true, findings_count: results.length, results: results.map(r => r.json)}}];"
      },
      "name": "Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "aggregate"
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}"},
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "id": "response"
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Parse", "type": "main", "index": 0}]]},
    "Parse": {"main": [[{"node": "Subfinder", "type": "main", "index": 0}, {"node": "Nmap", "type": "main", "index": 0}]]},
    "Subfinder": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]},
    "Nmap": {"main": [[{"node": "Aggregate", "type": "main", "index": 0}]]},
    "Aggregate": {"main": [[{"node": "Response", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"id": "1", "name": "agent"}],
  "updatedAt": "2025-01-01T00:00:00.000Z"
}
