workflows/amass.json
{
  "name": "Amass - Network Mapping",
  "nodes": [
    {
      "parameters": {
        "path": "amass",
        "options": {
          "responseData": "Amass network mapping started!"
        },
        "httpMethod": "POST"
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-640, -240],
      "webhookId": "amass-webhook"
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-640, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "domain",
              "type": "string",
              "value": "={{ $json.domain || $json.body.domain || 'example.com' }}"
            },
            {
              "id": "2",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now.format('yyyyMMdd_HHmmss') }}"
            },
            {
              "id": "3",
              "name": "mode",
              "type": "string",
              "value": "={{ $json.mode || $json.body.mode || 'passive' }}"
            }
          ]
        }
      },
      "id": "set-params",
      "name": "1. Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [-320, -120]
    },
    {
      "parameters": {
        "command": "=# Create output directory\nmkdir -p /tmp/amass_{{ $json.timestamp }}\n\n# Run Amass based on mode\nif [ \"{{ $json.mode }}\" = \"passive\" ]; then\n  echo \"Running Amass in PASSIVE mode (fast, external sources only)...\"\n  amass enum -passive -d {{ $json.domain }} -json /tmp/amass_{{ $json.timestamp }}/output.json -o /tmp/amass_{{ $json.timestamp }}/domains.txt\nelse\n  echo \"Running Amass in ACTIVE mode (comprehensive, includes DNS queries)...\"\n  amass enum -d {{ $json.domain }} -json /tmp/amass_{{ $json.timestamp }}/output.json -o /tmp/amass_{{ $json.timestamp }}/domains.txt\nfi\n\n# Display results\necho \"\"\necho \"=== AMASS ENUMERATION COMPLETE ===\"\necho \"Domain: {{ $json.domain }}\"\necho \"Mode: {{ $json.mode }}\"\necho \"Subdomains found: $(wc -l < /tmp/amass_{{ $json.timestamp }}/domains.txt)\"\necho \"\"\n\n# Output JSON data (one per line)\nif [ -f /tmp/amass_{{ $json.timestamp }}/output.json ]; then\n  cat /tmp/amass_{{ $json.timestamp }}/output.json\nelse\n  echo '{}'\nfi"
      },
      "id": "run-amass",
      "name": "2. Execute Amass",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [0, -120],
      "notes": "Passive mode: fast, uses public data sources\nActive mode: comprehensive, includes DNS queries"
    },
    {
      "parameters": {
        "jsCode": "// Parse Amass JSON output\nconst raw = $input.first().json;\nconst output = raw.stdout || '';\nconst params = $('1. Set Parameters').first().json;\n\nconst lines = output.split('\\n').filter(line => {\n  const trimmed = line.trim();\n  return trimmed && !trimmed.startsWith('===') && !trimmed.startsWith('Domain:') && \n         !trimmed.startsWith('Mode:') && !trimmed.startsWith('Subdomains') && \n         !trimmed.startsWith('Running') && trimmed !== '{}';\n});\n\nconst results = [];\nconst uniqueDomains = new Set();\n\nconsole.log(`=== PARSING AMASS OUTPUT ===`);\nconsole.log(`Raw lines: ${lines.length}`);\n\nfor (const line of lines) {\n  try {\n    const data = JSON.parse(line);\n    \n    if (data.name && !uniqueDomains.has(data.name)) {\n      uniqueDomains.add(data.name);\n      \n      const result = {\n        name: data.name,\n        domain: data.domain || params.domain,\n        addresses: data.addresses || [],\n        tag: data.tag || 'dns',\n        source: data.source || 'unknown',\n        type: data.type || 'subdomain',\n        timestamp: new Date().toISOString()\n      };\n      \n      results.push(result);\n      console.log(`  + ${result.name} [${result.source}] (${result.addresses.length} IPs)`);\n    }\n  } catch (e) {\n    // Skip non-JSON lines (status messages)\n    continue;\n  }\n}\n\nconsole.log(`✓ Parsed ${results.length} unique subdomains`);\n\n// Group by source\nconst sourceStats = {};\nfor (const result of results) {\n  if (!sourceStats[result.source]) {\n    sourceStats[result.source] = 0;\n  }\n  sourceStats[result.source]++;\n}\n\n// Calculate statistics\nconst stats = {\n  total_subdomains: results.length,\n  with_ips: results.filter(r => r.addresses.length > 0).length,\n  sources: Object.keys(sourceStats).length,\n  source_breakdown: sourceStats,\n  unique_ips: [...new Set(results.flatMap(r => r.addresses.map(a => a.ip)))].length\n};\n\nconst outputData = {\n  domain: params.domain,\n  mode: params.mode,\n  timestamp: params.timestamp,\n  statistics: stats,\n  results: results\n};\n\nconst buffer = Buffer.from(JSON.stringify(outputData, null, 2), 'utf-8');\n\nreturn [{\n  json: outputData,\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'application/json',\n      fileName: 'amass_results.json'\n    }\n  }\n}];"
      },
      "id": "parse-output",
      "name": "3. Parse Amass Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, -120]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/amass_parsed_{{ $('1. Set Parameters').first().json.timestamp }}.json",
        "dataPropertyName": "data"
      },
      "id": "save-results",
      "name": "4. Save Results",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [640, -120]
    },
    {
      "parameters": {
        "jsCode": "// Generate HTML Report for Amass Results\nconst data = $input.first().json;\nconst stats = data.statistics;\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Amass Network Mapping Report - ${data.domain}</title>\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;\n      line-height: 1.6;\n      color: #333;\n      background-color: #f5f5f5;\n    }\n    .container {\n      max-width: 1400px;\n      margin: 0 auto;\n      padding: 20px;\n      background-color: white;\n    }\n    .header {\n      background: linear-gradient(135deg, #3949ab 0%, #1e88e5 100%);\n      color: white;\n      padding: 40px 30px;\n      margin: -20px -20px 30px -20px;\n    }\n    h1 { font-size: 28px; margin-bottom: 10px; }\n    .meta { background-color: #f9f9f9; padding: 15px; margin-bottom: 20px; border-left: 4px solid #3949ab; }\n    .stats {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));\n      gap: 15px;\n      margin: 20px 0;\n    }\n    .stat-card {\n      background: linear-gradient(135deg, #3949ab 0%, #1e88e5 100%);\n      color: white;\n      padding: 20px;\n      border-radius: 8px;\n      text-align: center;\n    }\n    .stat-card .value { font-size: 32px; font-weight: bold; }\n    .stat-card .label { font-size: 12px; margin-top: 8px; opacity: 0.9; }\n    .source-breakdown {\n      background-color: #e3f2fd;\n      padding: 20px;\n      border-radius: 8px;\n      margin: 20px 0;\n    }\n    .source-item {\n      display: flex;\n      justify-content: space-between;\n      padding: 8px;\n      border-bottom: 1px solid #90caf9;\n    }\n    .source-item:last-child { border-bottom: none; }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin: 20px 0;\n      box-shadow: 0 1px 3px rgba(0,0,0,0.1);\n      font-size: 14px;\n    }\n    th, td {\n      padding: 10px;\n      text-align: left;\n      border-bottom: 1px solid #e0e0e0;\n    }\n    th {\n      background-color: #3949ab;\n      color: white;\n      font-weight: 600;\n      text-transform: uppercase;\n      font-size: 11px;\n    }\n    tr:hover { background-color: #f5f8ff; }\n    .subdomain { font-family: monospace; color: #1e88e5; font-weight: 500; }\n    .ip-badge {\n      display: inline-block;\n      background-color: #e8eaf6;\n      color: #3949ab;\n      padding: 2px 6px;\n      margin: 2px;\n      border-radius: 3px;\n      font-size: 11px;\n      font-family: monospace;\n    }\n    .source-badge {\n      display: inline-block;\n      background-color: #fff3e0;\n      color: #f57c00;\n      padding: 4px 8px;\n      border-radius: 3px;\n      font-size: 11px;\n      font-weight: 600;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Amass Network Mapping Report</h1>\n      <div>Domain: ${data.domain} | Mode: ${data.mode.toUpperCase()}</div>\n    </div>\n\n    <div class=\"meta\">\n      <div><strong>Scan Date:</strong> ${new Date().toISOString().split('T')[0]}</div>\n      <div><strong>Scan Time:</strong> ${new Date().toISOString().split('T')[1].split('.')[0]}</div>\n      <div><strong>Mode:</strong> ${data.mode === 'passive' ? 'Passive (External sources only)' : 'Active (Includes DNS queries)'}</div>\n    </div>\n\n    <h2>Statistics</h2>\n    <div class=\"stats\">\n      <div class=\"stat-card\">\n        <div class=\"value\">${stats.total_subdomains}</div>\n        <div class=\"label\">Subdomains Found</div>\n      </div>\n      <div class=\"stat-card\">\n        <div class=\"value\">${stats.with_ips}</div>\n        <div class=\"label\">With IP Addresses</div>\n      </div>\n      <div class=\"stat-card\">\n        <div class=\"value\">${stats.unique_ips}</div>\n        <div class=\"label\">Unique IPs</div>\n      </div>\n      <div class=\"stat-card\">\n        <div class=\"value\">${stats.sources}</div>\n        <div class=\"label\">Data Sources</div>\n      </div>\n    </div>\n\n    <h2>Source Breakdown</h2>\n    <div class=\"source-breakdown\">\n${Object.entries(stats.source_breakdown).sort((a, b) => b[1] - a[1]).map(([source, count]) => \n  `      <div class=\"source-item\">\n        <span><strong>${source}</strong></span>\n        <span>${count} subdomains</span>\n      </div>`).join('\\n')}\n    </div>\n\n    <h2>Discovered Subdomains</h2>\n    <table>\n      <thead>\n        <tr>\n          <th>#</th>\n          <th>Subdomain</th>\n          <th>IP Addresses</th>\n          <th>Source</th>\n          <th>Type</th>\n        </tr>\n      </thead>\n      <tbody>\n${data.results.map((r, idx) => `        <tr>\n          <td>${idx + 1}</td>\n          <td class=\"subdomain\">${r.name}</td>\n          <td>${r.addresses.map(a => `<span class=\"ip-badge\">${a.ip}</span>`).join('') || '-'}</td>\n          <td><span class=\"source-badge\">${r.source}</span></td>\n          <td>${r.type}</td>\n        </tr>`).join('\\n')}\n      </tbody>\n    </table>\n  </div>\n</body>\n</html>`;\n\nconst buffer = Buffer.from(html, 'utf-8');\n\nreturn [{\n  json: { html: html },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'amass_report.html'\n    }\n  }\n}];"
      },
      "id": "generate-report",
      "name": "5. Generate HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, -120]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/amass_report_{{ $('1. Set Parameters').first().json.timestamp }}.html",
        "dataPropertyName": "data"
      },
      "id": "save-report",
      "name": "6. Save HTML Report",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1280, -120]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "1. Set Parameters", "type": "main", "index": 0 }]]
    },
    "Manual Trigger": {
      "main": [[{ "node": "1. Set Parameters", "type": "main", "index": 0 }]]
    },
    "1. Set Parameters": {
      "main": [[{ "node": "2. Execute Amass", "type": "main", "index": 0 }]]
    },
    "2. Execute Amass": {
      "main": [[{ "node": "3. Parse Amass Output", "type": "main", "index": 0 }]]
    },
    "3. Parse Amass Output": {
      "main": [[{ "node": "4. Save Results", "type": "main", "index": 0 }]]
    },
    "4. Save Results": {
      "main": [[{ "node": "5. Generate HTML Report", "type": "main", "index": 0 }]]
    },
    "5. Generate HTML Report": {
      "main": [[{ "node": "6. Save HTML Report", "type": "main", "index": 0 }]]
    }
  }
}
