workflows/Security News Aggregator.json
{
  "name": "Security News Aggregator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        304
      ],
      "id": "schedule-trigger",
      "name": "Every 12 Hours"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        240,
        480
      ],
      "id": "chat-trigger",
      "name": "Chat: Get Security News",
      "webhookId": "security-news-chat"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        672
      ],
      "id": "manual-trigger",
      "name": "Manual Run"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "timestamp",
              "name": "timestamp",
              "type": "string",
              "value": "={{ $now.format('yyyyMMdd_HHmmss') }}"
            },
            {
              "id": "date",
              "name": "date",
              "type": "string",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        480
      ],
      "id": "set-params",
      "name": "Set Parameters"
    },
    {
      "parameters": {
        "url": "https://services.nvd.nist.gov/rest/json/cves/2.0",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pubStartDate",
              "value": "={{ $now.minus({days: 1}).toFormat('yyyy-MM-dd\\'T\\'00:00:00.000') }}"
            },
            {
              "name": "pubEndDate",
              "value": "={{ $now.toFormat('yyyy-MM-dd\\'T\\'23:59:59.999') }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        192
      ],
      "id": "nvd-api",
      "name": "NVD Recent CVEs"
    },
    {
      "parameters": {
        "url": "https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        368
      ],
      "id": "cisa-kev",
      "name": "CISA Exploited CVEs"
    },
    {
      "parameters": {
        "url": "https://krebsonsecurity.com/feed/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        544
      ],
      "id": "krebs-rss",
      "name": "Krebs on Security",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://www.bleepingcomputer.com/feed/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        720
      ],
      "id": "bleeping-rss",
      "name": "BleepingComputer",
      "disabled": true
    },
    {
      "parameters": {
        "command": "=# Fetch Hacker News security posts\necho \"Fetching HN security posts...\"\n\n# Get newest stories\ncurl -s 'https://hacker-news.firebaseio.com/v0/newstories.json' | \\\n  jq -r '.[:100][]' | \\\n  head -50 | \\\n  while read id; do\n    story=$(curl -s \"https://hacker-news.firebaseio.com/v0/item/${id}.json\")\n    title=$(echo \"$story\" | jq -r '.title // empty' | tr '[:upper:]' '[:lower:]')\n    \n    # Filter for security keywords\n    if echo \"$title\" | grep -iE '(security|vulnerability|breach|exploit|cve|hack|malware|ransomware|0day|zero.day)' > /dev/null; then\n      echo \"$story\"\n    fi\n  done | jq -s '.'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        688,
        912
      ],
      "id": "hn-security",
      "name": "Hacker News Security"
    },
    {
      "parameters": {
        "jsCode": "// Parse NVD CVE data\nconst nvdData = $input.first().json;\nconst items = [];\n\nif (nvdData.vulnerabilities) {\n  for (const vuln of nvdData.vulnerabilities.slice(0, 20)) {\n    const cve = vuln.cve;\n    const cveId = cve.id;\n    const published = cve.published;\n    const description = cve.descriptions?.find(d => d.lang === 'en')?.value || 'No description';\n    \n    // Get CVSS score\n    const metrics = cve.metrics || {};\n    const cvssV31 = metrics.cvssMetricV31?.[0]?.cvssData;\n    const cvssV30 = metrics.cvssMetricV30?.[0]?.cvssData;\n    const cvssData = cvssV31 || cvssV30 || {};\n    const cvssScore = cvssData.baseScore || 0;\n    const severity = cvssData.baseSeverity || 'UNKNOWN';\n    \n    items.push({\n      source: 'NVD',\n      category: 'CVE',\n      severity: severity,\n      cvssScore: cvssScore,\n      title: cveId,\n      description: description.substring(0, 200),\n      url: `https://nvd.nist.gov/vuln/detail/${cveId}`,\n      publishedDate: published,\n      timestamp: new Date(published).getTime()\n    });\n  }\n}\n\nconsole.log(`Parsed ${items.length} CVEs from NVD`);\nreturn items.map(item => ({json: item}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        192
      ],
      "id": "parse-nvd",
      "name": "Parse NVD"
    },
    {
      "parameters": {
        "jsCode": "// Parse CISA KEV data\nconst cisaData = $input.first().json;\nconst items = [];\n\nif (cisaData.vulnerabilities) {\n  // Get last 24 hours only\n  const oneDayAgo = Date.now() - (24 * 60 * 60 * 1000);\n  \n  for (const vuln of cisaData.vulnerabilities) {\n    const addedDate = new Date(vuln.dateAdded).getTime();\n    \n    if (addedDate > oneDayAgo) {\n      items.push({\n        source: 'CISA KEV',\n        category: 'EXPLOITED',\n        severity: 'CRITICAL',\n        cvssScore: 10,\n        title: `${vuln.cveID} - ${vuln.vulnerabilityName}`,\n        description: `${vuln.shortDescription}. Vendor: ${vuln.vendorProject}. Product: ${vuln.product}`,\n        url: `https://nvd.nist.gov/vuln/detail/${vuln.cveID}`,\n        publishedDate: vuln.dateAdded,\n        timestamp: addedDate,\n        exploited: true,\n        dueDate: vuln.dueDate\n      });\n    }\n  }\n}\n\nconsole.log(`Parsed ${items.length} exploited CVEs from CISA`);\nreturn items.map(item => ({json: item}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        368
      ],
      "id": "parse-cisa",
      "name": "Parse CISA"
    },
    {
      "parameters": {
        "jsCode": "// Parse RSS feed (Krebs)\nconst xml = $input.first().json;\nconst items = [];\n\n// Simple XML parsing\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nlet match;\n\nwhile ((match = itemRegex.exec(xml)) !== null) {\n  const item = match[1];\n  \n  const titleMatch = item.match(/<title><!\\[CDATA\\[([^\\]]+)\\]\\]><\\/title>/);\n  const linkMatch = item.match(/<link>([^<]+)<\\/link>/);\n  const pubDateMatch = item.match(/<pubDate>([^<]+)<\\/pubDate>/);\n  const descMatch = item.match(/<description><!\\[CDATA\\[([^\\]]+)\\]\\]><\\/description>/);\n  \n  if (titleMatch && linkMatch) {\n    const pubDate = pubDateMatch ? new Date(pubDateMatch[1]) : new Date();\n    const oneDayAgo = Date.now() - (24 * 60 * 60 * 1000);\n    \n    if (pubDate.getTime() > oneDayAgo) {\n      items.push({\n        source: 'Krebs on Security',\n        category: 'NEWS',\n        severity: 'INFO',\n        cvssScore: 0,\n        title: titleMatch[1],\n        description: descMatch ? descMatch[1].substring(0, 200) : '',\n        url: linkMatch[1],\n        publishedDate: pubDate.toISOString(),\n        timestamp: pubDate.getTime()\n      });\n    }\n  }\n}\n\nconsole.log(`Parsed ${items.length} articles from Krebs`);\nreturn items.map(item => ({json: item}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        544
      ],
      "id": "parse-krebs",
      "name": "Parse Krebs RSS",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Parse RSS feed (BleepingComputer)\nconst xml = $input.first().json;\nconst items = [];\n\nconst itemRegex = /<item>([\\s\\S]*?)<\\/item>/g;\nlet match;\n\nwhile ((match = itemRegex.exec(xml)) !== null) {\n  const item = match[1];\n  \n  const titleMatch = item.match(/<title><!\\[CDATA\\[([^\\]]+)\\]\\]><\\/title>/);\n  const linkMatch = item.match(/<link>([^<]+)<\\/link>/);\n  const pubDateMatch = item.match(/<pubDate>([^<]+)<\\/pubDate>/);\n  const descMatch = item.match(/<description><!\\[CDATA\\[([^\\]]+)\\]\\]><\\/description>/);\n  \n  if (titleMatch && linkMatch) {\n    const pubDate = pubDateMatch ? new Date(pubDateMatch[1]) : new Date();\n    const oneDayAgo = Date.now() - (24 * 60 * 60 * 1000);\n    \n    if (pubDate.getTime() > oneDayAgo) {\n      items.push({\n        source: 'BleepingComputer',\n        category: 'NEWS',\n        severity: 'INFO',\n        cvssScore: 0,\n        title: titleMatch[1],\n        description: descMatch ? descMatch[1].substring(0, 200) : '',\n        url: linkMatch[1],\n        publishedDate: pubDate.toISOString(),\n        timestamp: pubDate.getTime()\n      });\n    }\n  }\n}\n\nconsole.log(`Parsed ${items.length} articles from BleepingComputer`);\nreturn items.map(item => ({json: item}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        720
      ],
      "id": "parse-bleeping",
      "name": "Parse BleepingComputer",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Parse Hacker News JSON (skip echo lines)\nconst stdout = $input.first().json.stdout || '[]';\n\n// Extract JSON from stdout (skip \"Fetching HN...\" line)\nconst lines = stdout.split('\\n');\nlet jsonStr = '';\nfor (const line of lines) {\n  if (line.trim().startsWith('[') || line.trim().startsWith('{') || jsonStr) {\n    jsonStr += line + '\\n';\n  }\n}\n\nconst stories = JSON.parse(jsonStr.trim() || '[]');\nconst items = [];\n\nconst oneDayAgo = Date.now() - (24 * 60 * 60 * 1000);\n\nfor (const story of stories) {\n  if (story.time * 1000 > oneDayAgo && story.title) {\n    items.push({\n      source: 'Hacker News',\n      category: 'NEWS',\n      severity: 'INFO',\n      cvssScore: 0,\n      title: story.title,\n      description: story.text || '',\n      url: story.url || `https://news.ycombinator.com/item?id=${story.id}`,\n      publishedDate: new Date(story.time * 1000).toISOString(),\n      timestamp: story.time * 1000,\n      score: story.score || 0\n    });\n  }\n}\n\nconsole.log(`Parsed ${items.length} posts from Hacker News`);\nreturn items.map(item => ({json: item}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        912
      ],
      "id": "parse-hn",
      "name": "Parse Hacker News"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate, rank, and categorize all news (ENHANCED)\nconst allItems = $input.all().map(i => i.json);\n\nconsole.log(`=== AGGREGATING ${allItems.length} ITEMS ===`);\n\n// Sort by severity and timestamp\nconst ranked = allItems.sort((a, b) => {\n  // Priority: EXPLOITED > AI_ATTACK > TELECOM > INFRASTRUCTURE > CRITICAL > HIGH > MEDIUM > NEWS\n  const severityRank = {\n    'EXPLOITED': 10,\n    'AI_ATTACK': 9,\n    'TELECOM': 8,\n    'INFRASTRUCTURE': 7,\n    'CRITICAL': 6,\n    'HIGH': 4,\n    'MEDIUM': 2,\n    'LOW': 1,\n    'INFO': 0\n  };\n  \n  const aDiff = b.timestamp - a.timestamp; // Newer first\n  if (a.category === b.category) {\n    return aDiff;\n  }\n  \n  return (severityRank[b.severity] || 0) - (severityRank[a.severity] || 0);\n});\n\n// Categorize\nconst categorized = {\n  exploited: ranked.filter(i => i.category === 'EXPLOITED'),\n  aiAttacks: ranked.filter(i => i.category === 'AI_ATTACK'),\n  telecom: ranked.filter(i => i.category === 'TELECOM'),\n  infrastructure: ranked.filter(i => i.category === 'INFRASTRUCTURE'),\n  critical: ranked.filter(i => i.category === 'CVE' && i.cvssScore >= 9.0),\n  high: ranked.filter(i => i.category === 'CVE' && i.cvssScore >= 7.0 && i.cvssScore < 9.0),\n  medium: ranked.filter(i => i.category === 'CVE' && i.cvssScore >= 4.0 && i.cvssScore < 7.0),\n  news: ranked.filter(i => i.category === 'NEWS')\n};\n\nconst summary = {\n  timestamp: $('Set Parameters').first().json.timestamp,\n  date: $('Set Parameters').first().json.date,\n  totalItems: allItems.length,\n  counts: {\n    exploited: categorized.exploited.length,\n    aiAttacks: categorized.aiAttacks.length,\n    telecom: categorized.telecom.length,\n    infrastructure: categorized.infrastructure.length,\n    critical: categorized.critical.length,\n    high: categorized.high.length,\n    medium: categorized.medium.length,\n    news: categorized.news.length\n  },\n  items: categorized\n};\n\nconsole.log(`Summary: ${JSON.stringify(summary.counts)}`);\n\nreturn [{json: summary}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        544
      ],
      "id": "aggregate-rank",
      "name": "Aggregate & Rank"
    },
    {
      "parameters": {
        "jsCode": "// Generate ENHANCED HTML report with telecom/infrastructure alerts\nconst data = $input.first().json;\nconst { date, timestamp, totalItems, counts, items } = data;\n\nconsole.log('=== GENERATING ENHANCED HTML REPORT ===');\n\nfunction severityBadge(severity) {\n  const colors = {\n    'EXPLOITED': '#d32f2f',\n    'CRITICAL': '#f44336',\n    'HIGH': '#ff9800',\n    'MEDIUM': '#fbc02d',\n    'LOW': '#4caf50',\n    'INFO': '#2196f3'\n  };\n  return `<span style=\"background:${colors[severity]};color:white;padding:4px 12px;border-radius:4px;font-size:11px;font-weight:600\">${severity}</span>`;\n}\n\nfunction categoryBadge(category) {\n  const badges = {\n    'AI_ATTACK': '🤖 AI-POWERED',\n    'TELECOM': '📡 TELECOM',\n    'INFRASTRUCTURE': '🏭 INFRASTRUCTURE',\n    'EXPLOITED': '⚠️ EXPLOITED',\n    'CVE': '🔒 CVE',\n    'NEWS': '📰 NEWS'\n  };\n  return badges[category] || category;\n}\n\nfunction renderItems(itemList, limit = 20, showCategory = false) {\n  if (!itemList || itemList.length === 0) {\n    return '<p><em>No items in this category</em></p>';\n  }\n  \n  let html = '<div style=\"margin:20px 0\">';\n  for (const item of itemList.slice(0, limit)) {\n    const scoreDisplay = item.cvssScore > 0 ? `CVSS: ${item.cvssScore} | ` : '';\n    const categoryDisplay = showCategory ? `<span style=\"color:#666;font-size:12px;margin-left:10px\">${categoryBadge(item.category)}</span>` : '';\n    \n    html += `\n      <div style=\"background:#f9f9f9;padding:15px;margin:10px 0;border-left:4px solid ${item.specialAlert ? '#d32f2f' : '#1976d2'};border-radius:4px\">\n        <div style=\"margin-bottom:8px\">\n          ${severityBadge(item.severity)}\n          <span style=\"color:#666;font-size:12px;margin-left:10px\">${item.source}</span>\n          ${categoryDisplay}\n        </div>\n        <h4 style=\"margin:8px 0;color:#333\"><a href=\"${item.url}\" target=\"_blank\" style=\"color:#1976d2;text-decoration:none\">${item.title}</a></h4>\n        <p style=\"color:#666;font-size:13px;margin:5px 0\">${item.description}</p>\n        <div style=\"color:#999;font-size:11px;margin-top:5px\">${scoreDisplay}${new Date(item.publishedDate).toLocaleString()}</div>\n      </div>\n    `;\n  }\n  html += '</div>';\n  return html;\n}\n\nconst hasAlerts = counts.exploited > 0 || counts.aiAttacks > 0 || counts.telecom > 0;\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Security News Digest - ${date}</title>\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; background: #f5f5f5; margin: 0; padding: 20px; }\n    .container { max-width: 1200px; margin: 0 auto; background: white; padding: 30px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); border-radius: 8px; }\n    .header { background: linear-gradient(135deg, ${hasAlerts ? '#d32f2f' : '#1976d2'} 0%, ${hasAlerts ? '#b71c1c' : '#1565c0'} 100%); color: white; padding: 30px; margin: -30px -30px 30px -30px; border-radius: 8px 8px 0 0; }\n    .header h1 { margin: 0; font-size: 32px; }\n    .header p { margin: 10px 0 0 0; opacity: 0.9; }\n    .alert-banner { background: #fff3cd; border-left: 4px solid #ff9800; padding: 15px; margin: 20px 0; border-radius: 4px; }\n    .stats { display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); gap: 15px; margin: 20px 0; }\n    .stat { background: #f9f9f9; padding: 20px; border-radius: 6px; text-align: center; border-left: 4px solid #1976d2; }\n    .stat-value { font-size: 32px; font-weight: bold; color: #1976d2; }\n    .stat-label { font-size: 12px; color: #666; text-transform: uppercase; margin-top: 5px; }\n    h2 { color: #1976d2; margin: 40px 0 20px 0; padding-bottom: 10px; border-bottom: 2px solid #e0e0e0; }\n    .section { margin: 30px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>${hasAlerts ? '🚨' : '🔒'} Security News Digest</h1>\n      <p>${date} | Generated at ${new Date().toLocaleTimeString()}</p>\n    </div>\n    \n    ${hasAlerts ? `\n    <div class=\"alert-banner\">\n      <strong>⚠️ CRITICAL ALERTS DETECTED</strong><br>\n      ${counts.exploited > 0 ? `${counts.exploited} actively exploited vulnerabilities | ` : ''}\n      ${counts.aiAttacks > 0 ? `${counts.aiAttacks} AI-powered attacks | ` : ''}\n      ${counts.telecom > 0 ? `${counts.telecom} telecom/infrastructure incidents` : ''}\n    </div>\n    ` : ''}\n    \n    <h2>📊 Summary</h2>\n    <div class=\"stats\">\n      <div class=\"stat\">\n        <div class=\"stat-value\">${totalItems}</div>\n        <div class=\"stat-label\">Total Items</div>\n      </div>\n      <div class=\"stat\">\n        <div class=\"stat-value\" style=\"color:#d32f2f\">${counts.exploited}</div>\n        <div class=\"stat-label\">Exploited</div>\n      </div>\n      <div class=\"stat\">\n        <div class=\"stat-value\" style=\"color:#d32f2f\">${counts.aiAttacks}</div>\n        <div class=\"stat-label\">AI Attacks</div>\n      </div>\n      <div class=\"stat\">\n        <div class=\"stat-value\" style=\"color:#ff9800\">${counts.telecom}</div>\n        <div class=\"stat-label\">Telecom</div>\n      </div>\n      <div class=\"stat\">\n        <div class=\"stat-value\" style=\"color:#ff9800\">${counts.infrastructure}</div>\n        <div class=\"stat-label\">Infrastructure</div>\n      </div>\n      <div class=\"stat\">\n        <div class=\"stat-value\" style=\"color:#f44336\">${counts.critical}</div>\n        <div class=\"stat-label\">Critical CVEs</div>\n      </div>\n      <div class=\"stat\">\n        <div class=\"stat-value\" style=\"color:#fbc02d\">${counts.high}</div>\n        <div class=\"stat-label\">High CVEs</div>\n      </div>\n      <div class=\"stat\">\n        <div class=\"stat-value\" style=\"color:#2196f3\">${counts.news}</div>\n        <div class=\"stat-label\">News</div>\n      </div>\n    </div>\n    \n    ${counts.exploited > 0 ? `\n    <div class=\"section\">\n      <h2>🚨 Actively Exploited Vulnerabilities</h2>\n      ${renderItems(items.exploited)}\n    </div>\n    ` : ''}\n    \n    ${counts.aiAttacks > 0 ? `\n    <div class=\"section\">\n      <h2>🤖 AI-Powered Attacks on Infrastructure</h2>\n      ${renderItems(items.aiAttacks)}\n    </div>\n    ` : ''}\n    \n    ${counts.telecom > 0 ? `\n    <div class=\"section\">\n      <h2>📡 Telecommunications Breaches & Attacks</h2>\n      ${renderItems(items.telecom)}\n    </div>\n    ` : ''}\n    \n    ${counts.infrastructure > 0 ? `\n    <div class=\"section\">\n      <h2>🏭 Critical Infrastructure Incidents</h2>\n      ${renderItems(items.infrastructure)}\n    </div>\n    ` : ''}\n    \n    <div class=\"section\">\n      <h2>🔴 Critical Vulnerabilities (CVSS 9.0+)</h2>\n      ${renderItems(items.critical)}\n    </div>\n    \n    <div class=\"section\">\n      <h2>🟡 High Severity Vulnerabilities (CVSS 7.0-8.9)</h2>\n      ${renderItems(items.high, 15)}\n    </div>\n    \n    <div class=\"section\">\n      <h2>📰 Security News & Articles</h2>\n      ${renderItems(items.news, 10, true)}\n    </div>\n    \n    <div style=\"text-align:center;margin-top:50px;padding-top:30px;border-top:1px solid #e0e0e0;color:#999;font-size:12px\">\n      <p>Generated by n8n Security News Aggregator</p>\n      <p>Sources: NVD, CISA KEV, Krebs, BleepingComputer, Hacker News, Google News</p>\n      <p>Delivered to: tester.exe@proton.me</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nconsole.log('✓ Enhanced HTML report generated');\n\nreturn [{json: { html, filename: `security_news_${timestamp}.html`, timestamp, summary: counts }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        544
      ],
      "id": "generate-html",
      "name": "Generate HTML Report"
    },
    {
      "parameters": {
        "command": "=# Save HTML report and convert to PDF\ntimestamp=\"{{ $json.timestamp }}\"\nfilename=\"{{ $json.filename }}\"\n\nhtml_file=\"/tmp/${filename}\"\npdf_file=\"/tmp/security_news_${timestamp}.pdf\"\n\necho \"Saving report...\"\n\n# Save HTML\ncat > \"$html_file\" << 'HTMLEOF'\n{{ $json.html }}\nHTMLEOF\n\necho \"✓ HTML saved: $html_file\"\n\n# Convert to PDF if html2pdf is available\nif command -v html2pdf &> /dev/null; then\n  html2pdf \"$html_file\" \"$pdf_file\" 2>/dev/null || echo \"PDF conversion skipped\"\n  if [ -f \"$pdf_file\" ]; then\n    echo \"✓ PDF saved: $pdf_file\"\n  fi\nfi\n\necho \"{\\\"htmlPath\\\":\\\"$html_file\\\",\\\"pdfPath\\\":\\\"$pdf_file\\\",\\\"filename\\\":\\\"$filename\\\",\\\"timestamp\\\":\\\"$timestamp\\\"}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1824,
        480
      ],
      "id": "save-report",
      "name": "Save Report"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message",
              "name": "message",
              "type": "string",
              "value": "=Security news digest complete! Found {{ $('Aggregate & Rank').first().json.totalItems }} items. Report saved to: {{ JSON.parse($json.stdout).htmlPath }}"
            },
            {
              "id": "summary",
              "name": "summary",
              "type": "object",
              "value": "={{ $('Aggregate & Rank').first().json.counts }}"
            },
            {
              "id": "reportPath",
              "name": "reportPath",
              "type": "string",
              "value": "={{ JSON.parse($json.stdout).htmlPath }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        528
      ],
      "id": "final-output",
      "name": "Final Output"
    },
    {
      "parameters": {
        "command": "=# Search for telecom breaches and infrastructure attacks\necho \"Searching for telecom/infrastructure attacks...\"\n\n# Search multiple sources\nresults='[]'\n\n# Google News search via web scraping\ncurl -s \"https://news.google.com/rss/search?q=telecom+breach+OR+telecommunications+hack+OR+infrastructure+attack+when:1d\" 2>/dev/null | \\\n  grep -E '<item>|<title>|<link>|<pubDate>' | \\\n  sed 's/<[^>]*>//g' | \\\n  paste -d'|' - - - | \\\n  head -10 > /tmp/telecom_news.txt || touch /tmp/telecom_news.txt\n\n# Also search for AI-powered attacks\ncurl -s \"https://news.google.com/rss/search?q=AI+attack+infrastructure+OR+AI+powered+hack+OR+machine+learning+attack+when:1d\" 2>/dev/null | \\\n  grep -E '<item>|<title>|<link>|<pubDate>' | \\\n  sed 's/<[^>]*>//g' | \\\n  paste -d'|' - - - | \\\n  head -10 >> /tmp/telecom_news.txt || true\n\nif [ -s /tmp/telecom_news.txt ]; then\n  cat /tmp/telecom_news.txt\nelse\n  echo \"No recent telecom/infrastructure attacks found\"\nfi"
      },
      "id": "telecom-search",
      "name": "Telecom Breach Search",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        688,
        1088
      ],
      "notes": "Search for telecom breaches and AI-powered infrastructure attacks"
    },
    {
      "parameters": {
        "jsCode": "// Parse telecom and infrastructure attack news\nconst output = $input.first().json.stdout || '';\nconst items = [];\n\nif (output && output !== 'No recent telecom/infrastructure attacks found') {\n  const lines = output.split('\\n').filter(l => l.trim());\n  \n  for (const line of lines) {\n    const parts = line.split('|');\n    if (parts.length >= 3) {\n      const title = parts[0].trim();\n      const url = parts[1].trim();\n      const date = parts[2].trim();\n      \n      // Determine category based on keywords\n      let category = 'INFRASTRUCTURE';\n      let severity = 'HIGH';\n      \n      const titleLower = title.toLowerCase();\n      \n      if (titleLower.includes('telecom') || titleLower.includes('telecommunications')) {\n        category = 'TELECOM';\n      }\n      \n      if (titleLower.includes('ai') || titleLower.includes('machine learning') || titleLower.includes('artificial intelligence')) {\n        category = 'AI_ATTACK';\n        severity = 'CRITICAL';\n      }\n      \n      if (titleLower.includes('breach') || titleLower.includes('hack') || titleLower.includes('attack')) {\n        severity = 'CRITICAL';\n      }\n      \n      items.push({\n        source: 'Google News',\n        category: category,\n        severity: severity,\n        cvssScore: severity === 'CRITICAL' ? 9.5 : 8.0,\n        title: title,\n        description: `Recent ${category.toLowerCase().replace('_', ' ')} incident`,\n        url: url,\n        publishedDate: new Date(date).toISOString(),\n        timestamp: new Date(date).getTime(),\n        specialAlert: true\n      });\n    }\n  }\n}\n\nconsole.log(`Parsed ${items.length} telecom/infrastructure alerts`);\nreturn items.map(item => ({json: item}));"
      },
      "id": "parse-telecom",
      "name": "Parse Telecom/Infrastructure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        1088
      ],
      "notes": "Parse and categorize telecom/infrastructure/AI attacks"
    },
    {
      "parameters": {
        "jsCode": "// Prepare CONSOLIDATED email with all security news\nconst data = $('Aggregate & Rank').first().json;\nconst htmlReport = $('Generate HTML Report').first().json.html;\nconst { date, totalItems, counts, items } = data;\n\nconsole.log('=== PREPARING CONSOLIDATED EMAIL ===');\n\n// Count all alert types\nconst telecomAlerts = counts.telecom || 0;\nconst infraAlerts = counts.infrastructure || 0;\nconst aiAttacks = counts.aiAttacks || 0;\n\n// Create dynamic subject based on most critical findings\nlet subject = `🔒 Security Digest ${date}`;\nlet priority = 'normal';\n\nif (counts.exploited > 0) {\n  subject = `🚨 CRITICAL: ${counts.exploited} Exploited CVEs - Security Digest ${date}`;\n  priority = 'high';\n} else if (aiAttacks > 0 || telecomAlerts > 0) {\n  subject = `⚠️ ALERT: Telecom/Infrastructure Threats - Security Digest ${date}`;\n  priority = 'high';\n} else if (counts.critical > 0) {\n  subject = `🔴 ${counts.critical} Critical CVEs - Security Digest ${date}`;\n}\n\n// Create comprehensive plain text summary\nconst textSummary = `\n╔══════════════════════════════════════════════════╗\n║     SECURITY NEWS DIGEST - ${date}      ║\n╚══════════════════════════════════════════════════╝\n\n📊 EXECUTIVE SUMMARY\n${'─'.repeat(54)}\nTotal Security Items Found: ${totalItems}\n\n🚨 CRITICAL ALERTS:\n   • Actively Exploited CVEs: ${counts.exploited}\n   • AI-Powered Attacks: ${aiAttacks}\n   • Telecom Breaches: ${telecomAlerts}\n   • Infrastructure Attacks: ${infraAlerts}\n\n📈 VULNERABILITY BREAKDOWN:\n   • Critical CVEs (9.0+): ${counts.critical}\n   • High Severity (7.0-8.9): ${counts.high}\n   • Medium Severity (4.0-6.9): ${counts.medium}\n\n📰 Security News Articles: ${counts.news}\n\n${counts.exploited > 0 ? `\n╔══════════════════════════════════════════════════╗\n║  ⚠️  IMMEDIATE ACTION REQUIRED - EXPLOITED CVEs  ║\n╚══════════════════════════════════════════════════╝\n\n${items.exploited.slice(0, 5).map((i, idx) => `\n${idx + 1}. ${i.title}\n   CVSS: ${i.cvssScore} | Source: ${i.source}\n   🔗 ${i.url}\n   📅 ${new Date(i.publishedDate).toLocaleString()}\n   📝 ${i.description.substring(0, 150)}...\n`).join('')}\n` : ''}\n\n${aiAttacks > 0 ? `\n╔══════════════════════════════════════════════════╗\n║  🤖 AI-POWERED INFRASTRUCTURE ATTACKS DETECTED   ║\n╚══════════════════════════════════════════════════╝\n\n${items.aiAttacks.slice(0, 3).map((i, idx) => `\n${idx + 1}. ${i.title}\n   🔗 ${i.url}\n   📅 ${new Date(i.publishedDate).toLocaleString()}\n`).join('')}\n` : ''}\n\n${telecomAlerts > 0 ? `\n╔══════════════════════════════════════════════════╗\n║  📡 TELECOMMUNICATIONS BREACH ALERTS             ║\n╚══════════════════════════════════════════════════╝\n\n${items.telecom.slice(0, 3).map((i, idx) => `\n${idx + 1}. ${i.title}\n   🔗 ${i.url}\n   📅 ${new Date(i.publishedDate).toLocaleString()}\n`).join('')}\n` : ''}\n\n${infraAlerts > 0 ? `\n╔══════════════════════════════════════════════════╗\n║  🏭 CRITICAL INFRASTRUCTURE INCIDENTS            ║\n╚══════════════════════════════════════════════════╝\n\n${items.infrastructure.slice(0, 3).map((i, idx) => `\n${idx + 1}. ${i.title}\n   🔗 ${i.url}\n   📅 ${new Date(i.publishedDate).toLocaleString()}\n`).join('')}\n` : ''}\n\n${counts.critical > 0 ? `\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n🔴 CRITICAL VULNERABILITIES (CVSS 9.0+)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n${items.critical.slice(0, 5).map((i, idx) => `\n${idx + 1}. ${i.title}\n   CVSS: ${i.cvssScore} | Severity: ${i.severity}\n   🔗 ${i.url}\n   📝 ${i.description.substring(0, 120)}...\n`).join('')}\n` : ''}\n\n${counts.high > 0 ? `\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n🟡 HIGH SEVERITY VULNERABILITIES (CVSS 7.0-8.9)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nShowing top 10 of ${counts.high} high severity CVEs:\n\n${items.high.slice(0, 10).map((i, idx) => `${idx + 1}. ${i.title} (CVSS: ${i.cvssScore})`).join('\\n')}\n\nFull details in HTML report below.\n` : ''}\n\n${counts.news > 0 ? `\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📰 SECURITY NEWS & ARTICLES\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nTop ${Math.min(5, counts.news)} security news stories:\n\n${items.news.slice(0, 5).map((i, idx) => `\n${idx + 1}. ${i.title}\n   Source: ${i.source}\n   🔗 ${i.url}\n`).join('')}\n` : ''}\n\n${'═'.repeat(54)}\n\n📋 FULL DETAILED REPORT\nA comprehensive HTML report with all findings, severity badges,\nand interactive links is attached below.\n\n🔄 NEXT DIGEST: In 12 hours (${new Date(Date.now() + 12 * 60 * 60 * 1000).toLocaleString()})\n\n📊 DATA SOURCES:\n   • NVD (National Vulnerability Database)\n   • CISA KEV (Known Exploited Vulnerabilities)\n   • Hacker News (Security-filtered)\n   • Google News (Telecom/Infrastructure/AI Attacks)\n\n🛡️ Generated by n8n Security News Aggregator\n📧 Delivered to: tester.exe@proton.me\n\n${'═'.repeat(54)}\n`;\n\nconsole.log(`✓ Consolidated email prepared (${totalItems} items, priority: ${priority})`);\n\nreturn [{\n  json: {\n    subject: subject,\n    textBody: textSummary,\n    htmlBody: htmlReport,\n    to: 'tester.exe@proton.me',\n    from: 'n8n Security Aggregator <security@n8n.local>',\n    timestamp: $('Set Parameters').first().json.timestamp,\n    priority: priority,\n    stats: {\n      total: totalItems,\n      exploited: counts.exploited,\n      aiAttacks: aiAttacks,\n      telecom: telecomAlerts,\n      infrastructure: infraAlerts,\n      critical: counts.critical,\n      high: counts.high,\n      news: counts.news\n    }\n  }\n}];"
      },
      "id": "email-config",
      "name": "Prepare Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        560
      ],
      "notes": "Prepare email with summary and full HTML report"
    },
    {
      "parameters": {
        "fromEmail": "Security Digest <security@n8n.local>",
        "toEmail": "tester.exe@proton.me",
        "subject": "={{ $json.subject }}",
        "emailFormat": "both",
        "text": "={{ $json.textBody }}",
        "html": "={{ $json.htmlBody }}",
        "options": {
          "attachments": "={{ $json.attachments }}"
        }
      },
      "id": "send-email",
      "name": "Send Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2128,
        880
      ],
      "webhookId": "8e789b58-e45d-48ca-b8f7-b630d95c9f52",
      "credentials": {
        "smtp": {
          "id": "sHyvlPv83AdvYizU",
          "name": "SMTP account"
        }
      },
      "notes": "Send email digest to tester.exe@proton.me"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 12 Hours": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat: Get Security News": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Run": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "NVD Recent CVEs",
            "type": "main",
            "index": 0
          },
          {
            "node": "CISA Exploited CVEs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Krebs on Security",
            "type": "main",
            "index": 0
          },
          {
            "node": "BleepingComputer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hacker News Security",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telecom Breach Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NVD Recent CVEs": {
      "main": [
        [
          {
            "node": "Parse NVD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CISA Exploited CVEs": {
      "main": [
        [
          {
            "node": "Parse CISA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Krebs on Security": {
      "main": [
        [
          {
            "node": "Parse Krebs RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BleepingComputer": {
      "main": [
        [
          {
            "node": "Parse BleepingComputer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News Security": {
      "main": [
        [
          {
            "node": "Parse Hacker News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse NVD": {
      "main": [
        [
          {
            "node": "Aggregate & Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CISA": {
      "main": [
        [
          {
            "node": "Aggregate & Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Krebs RSS": {
      "main": [
        [
          {
            "node": "Aggregate & Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse BleepingComputer": {
      "main": [
        [
          {
            "node": "Aggregate & Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hacker News": {
      "main": [
        [
          {
            "node": "Aggregate & Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate & Rank": {
      "main": [
        [
          {
            "node": "Generate HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Report": {
      "main": [
        [
          {
            "node": "Prepare Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Report": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telecom Breach Search": {
      "main": [
        [
          {
            "node": "Parse Telecom/Infrastructure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Telecom/Infrastructure": {
      "main": [
        [
          {
            "node": "Aggregate & Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "37cd14a6-c37d-4c39-a925-154cd6560a0b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "029e05f1295ce04c906d8a947f2712cc8515b81fcccb47c14c4d3503ffed64a5"
  },
  "id": "1a0gMBNL3XPqk9qk",
  "tags": []
}