workflows/legacy_2/legacy_2/legacy/credential_tester.json
{
  "name": "Credential Tester",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "name": "Every 2 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Get queued credential tests that are within ROE\nSELECT\n  ctq.id as queue_id,\n  ctq.credential_id,\n  ctq.host_id,\n  ctq.port_id,\n  ctq.service_type,\n  ctq.redis_key,\n  sc.username,\n  sc.domain,\n  sc.credential_type,\n  h.ip_address,\n  h.hostname,\n  p.port,\n  p.protocol,\n  pr.id as project_id,\n  pr.settings\nFROM credential_test_queue ctq\nJOIN secure_credentials sc ON sc.id = ctq.credential_id\nJOIN hosts h ON h.id = ctq.host_id\nLEFT JOIN ports p ON p.id = ctq.port_id\nJOIN projects pr ON pr.id = sc.project_id\nWHERE ctq.status = 'queued'\nAND pr.status = 'active'\nORDER BY ctq.priority DESC, ctq.queued_at ASC\nLIMIT 10\nFOR UPDATE OF ctq SKIP LOCKED",
        "options": {}
      },
      "name": "Get Queued Tests",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [420, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-tests",
              "leftValue": "={{ $json.queue_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Has Tests?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE credential_test_queue SET status = 'processing', started_at = NOW() WHERE id = '{{ $json.queue_id }}'::uuid",
        "options": {}
      },
      "name": "Mark Processing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [860, 200],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check ROE and build test command\nconst test = $input.first().json;\nconst settings = test.settings || {};\n\n// Sanitize shell input - remove dangerous characters\nfunction sanitizeShellInput(str) {\n  if (!str) return '';\n  // Allow only alphanumeric, dots, hyphens, underscores, and @ for usernames\n  return String(str).replace(/[^a-zA-Z0-9.\\-_@]/g, '');\n}\n\n// Validate IP/hostname format\nfunction validateTarget(target) {\n  if (!target) return null;\n  // Allow only valid IP/hostname characters\n  const cleaned = String(target).replace(/[^a-zA-Z0-9.\\-]/g, '');\n  // Basic validation\n  if (cleaned.length === 0 || cleaned.length > 255) return null;\n  return cleaned;\n}\n\n// Validate port number\nfunction validatePort(port) {\n  const num = parseInt(port, 10);\n  if (isNaN(num) || num < 1 || num > 65535) return null;\n  return num;\n}\n\n// Check testing windows\nconst testingWindows = settings.testing_windows || '24/7';\nconst now = new Date();\nconst hour = now.getHours();\n\nif (testingWindows === 'business_hours' && (hour < 9 || hour >= 17)) {\n  return [{\n    json: {\n      ...test,\n      skip: true,\n      skip_reason: 'Outside business hours'\n    }\n  }];\n}\n\n// Build test command based on service type\nlet command = '';\nconst rawTarget = test.ip_address || test.hostname;\nconst target = validateTarget(rawTarget);\n\nfunction getDefaultPort(service) {\n  const defaults = { ssh: 22, smb: 445, rdp: 3389, ftp: 21, mysql: 3306, postgres: 5432 };\n  return defaults[service] || 22;\n}\n\nconst port = validatePort(test.port) || getDefaultPort(test.service_type);\nconst username = sanitizeShellInput(test.username);\nconst domain = sanitizeShellInput(test.domain);\n\n// Validate inputs before building command\nif (!target) {\n  return [{\n    json: {\n      ...test,\n      skip: true,\n      skip_reason: 'Invalid target address'\n    }\n  }];\n}\n\nif (!username) {\n  return [{\n    json: {\n      ...test,\n      skip: true,\n      skip_reason: 'Invalid username'\n    }\n  }];\n}\n\nswitch (test.service_type) {\n  case 'ssh':\n    // Use sshpass for automated SSH testing (timeout after 10 seconds)\n    command = `timeout 10 sshpass -p 'PLACEHOLDER' ssh -o StrictHostKeyChecking=no -o ConnectTimeout=5 ${username}@${target} -p ${port} 'echo SUCCESS' 2>&1`;\n    break;\n  case 'smb':\n    command = `timeout 10 smbclient -L //${target} -U '${domain ? domain + '\\\\\\\\' : ''}${username}%PLACEHOLDER' -p ${port} 2>&1`;\n    break;\n  case 'ftp':\n    command = `timeout 10 curl -u '${username}:PLACEHOLDER' ftp://${target}:${port}/ 2>&1`;\n    break;\n  default:\n    command = `echo 'Unsupported service type: ${sanitizeShellInput(test.service_type)}'`;\n}\n\nreturn [{\n  json: {\n    ...test,\n    command: command,\n    target: target,\n    port: port,\n    skip: false\n  }\n}];"
      },
      "name": "Build Test Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Should Run?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "command": "={{ $json.command }}",
        "options": {
          "timeout": 30000
        }
      },
      "name": "Execute Test",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1520, 100]
    },
    {
      "parameters": {
        "jsCode": "// Analyze test results\nconst test = $('Build Test Command').first().json;\nconst result = $input.first().json;\n\nlet testResult = 'failed';\nlet accessLevel = null;\nlet errorMessage = null;\n\nconst stdout = result.stdout || '';\nconst stderr = result.stderr || '';\nconst exitCode = result.exitCode;\n\n// Determine success based on service type\nswitch (test.service_type) {\n  case 'ssh':\n    if (stdout.includes('SUCCESS') || exitCode === 0) {\n      testResult = 'success';\n      accessLevel = 'user';\n    } else if (stdout.includes('Permission denied') || stderr.includes('Permission denied')) {\n      testResult = 'failed';\n      errorMessage = 'Permission denied';\n    } else if (stdout.includes('Connection refused') || stderr.includes('Connection refused')) {\n      testResult = 'error';\n      errorMessage = 'Connection refused';\n    } else if (stdout.includes('timed out') || stderr.includes('timed out')) {\n      testResult = 'timeout';\n      errorMessage = 'Connection timed out';\n    } else {\n      errorMessage = stdout.substring(0, 200) || stderr.substring(0, 200);\n    }\n    break;\n  case 'smb':\n    if (exitCode === 0 && !stderr.includes('NT_STATUS_LOGON_FAILURE')) {\n      testResult = 'success';\n      accessLevel = 'user';\n    } else {\n      errorMessage = stderr.substring(0, 200);\n    }\n    break;\n  case 'ftp':\n    if (exitCode === 0) {\n      testResult = 'success';\n      accessLevel = 'user';\n    } else {\n      errorMessage = stderr.substring(0, 200);\n    }\n    break;\n}\n\nreturn [{\n  json: {\n    queue_id: test.queue_id,\n    credential_id: test.credential_id,\n    host_id: test.host_id,\n    port_id: test.port_id,\n    project_id: test.project_id,\n    service_type: test.service_type,\n    test_result: testResult,\n    access_level: accessLevel,\n    error_message: errorMessage,\n    username: test.username,\n    target: test.target\n  }\n}];"
      },
      "name": "Analyze Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Record credential usage\nINSERT INTO credential_usage (\n  credential_id,\n  host_id,\n  port_id,\n  service_type,\n  test_result,\n  error_message,\n  access_level\n) VALUES (\n  '{{ $json.credential_id }}'::uuid,\n  '{{ $json.host_id }}'::uuid,\n  {{ $json.port_id ? \"'\" + $json.port_id + \"'::uuid\" : 'NULL' }},\n  '{{ $json.service_type }}',\n  '{{ $json.test_result }}',\n  {{ $json.error_message ? \"'\" + $json.error_message.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.access_level ? \"'\" + $json.access_level + \"'\" : 'NULL' }}\n);\n\n-- Update credential status if success\n{{ $json.test_result === 'success' ? \"UPDATE secure_credentials SET status = 'valid', last_tested_at = NOW() WHERE id = '\" + $json.credential_id + \"'::uuid;\" : \"UPDATE secure_credentials SET last_tested_at = NOW() WHERE id = '\" + $json.credential_id + \"'::uuid;\" }}\n\n-- Update queue status\nUPDATE credential_test_queue\nSET status = 'completed', result = '{{ $json.test_result }}', completed_at = NOW()\nWHERE id = '{{ $json.queue_id }}'::uuid;",
        "options": {}
      },
      "name": "Save Results",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1960, 100],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-success",
              "leftValue": "={{ $json.test_result }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2180, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Create notification for successful credential test\nINSERT INTO notifications (\n  project_id,\n  notification_type,\n  severity,\n  title,\n  message,\n  entity_type,\n  entity_id\n) VALUES (\n  '{{ $json.project_id }}'::uuid,\n  'credential_success',\n  'high',\n  'Credential Validated: {{ $json.username }}@{{ $json.target }}',\n  'Successfully authenticated to {{ $json.service_type }} service on {{ $json.target }} with user {{ $json.username }}',\n  'credential_usage',\n  '{{ $json.credential_id }}'::uuid\n);\n\n-- AUTO-PIVOT: Queue pivot for SSH successes\n{{ $json.service_type === 'ssh' ? \"INSERT INTO pivot_queue (project_id, target_host_id, credential_id, pivot_type, hop_level, status) SELECT '\" + $json.project_id + \"'::uuid, '\" + $json.host_id + \"'::uuid, '\" + $json.credential_id + \"'::uuid, 'full_recon', COALESCE((SELECT MAX(hop_level) + 1 FROM ssh_tunnels WHERE project_id = '\" + $json.project_id + \"'::uuid AND status = 'active'), 1), 'queued' WHERE NOT EXISTS (SELECT 1 FROM pivot_queue WHERE project_id = '\" + $json.project_id + \"'::uuid AND target_host_id = '\" + $json.host_id + \"'::uuid AND status IN ('queued', 'processing'));\" : \"SELECT 1;\" }}",
        "options": {}
      },
      "name": "Create Alert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2400, 0],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Update queue with skip reason\nUPDATE credential_test_queue\nSET status = 'failed', error_message = '{{ $json.skip_reason }}', completed_at = NOW()\nWHERE id = '{{ $json.queue_id }}'::uuid",
        "options": {}
      },
      "name": "Mark Skipped",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1520, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres"
        }
      }
    }
  ],
  "connections": {
    "Every 2 Minutes": {
      "main": [
        [
          {
            "node": "Get Queued Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Queued Tests": {
      "main": [
        [
          {
            "node": "Has Tests?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Tests?": {
      "main": [
        [
          {
            "node": "Mark Processing",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Mark Processing": {
      "main": [
        [
          {
            "node": "Build Test Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Test Command": {
      "main": [
        [
          {
            "node": "Should Run?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Run?": {
      "main": [
        [
          {
            "node": "Execute Test",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Test": {
      "main": [
        [
          {
            "node": "Analyze Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Results": {
      "main": [
        [
          {
            "node": "Save Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Results": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Create Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}
