workflows/legacy_2/legacy/demo_standalone_recon.json
{
  "name": "Demo: Standalone Recon (No DB)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "demo-recon",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Start Demo Scan",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 400],
      "webhookId": "demo-recon"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "target",
              "name": "target",
              "value": "={{ $json.body.target }}",
              "type": "string"
            },
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $now.format('yyyyMMdd-HHmmss') + '-' + $json.body.target.replace(/[^a-zA-Z0-9]/g, '-') }}",
              "type": "string"
            },
            {
              "id": "output_dir",
              "name": "output_dir",
              "value": "={{ '/tmp/recon/' + $now.format('yyyyMMdd-HHmmss') + '-' + $json.body.target.replace(/[^a-zA-Z0-9]/g, '-') }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "extract-params",
      "name": "Extract & Validate Target",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 400]
    },
    {
      "parameters": {
        "command": "='mkdir -p ' + $json.output_dir"
      },
      "id": "create-output-dir",
      "name": "Create Output Directory",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "command": "='subfinder -d ' + $json.target + ' -silent -all -o ' + $json.output_dir + '/subfinder.txt && cat ' + $json.output_dir + '/subfinder.txt'"
      },
      "id": "subfinder-scan",
      "name": "Subfinder: Subdomain Enumeration",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 300],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "command": "='amass enum -passive -d ' + $json.target + ' -silent -timeout 3 -o ' + $json.output_dir + '/amass.txt && cat ' + $json.output_dir + '/amass.txt || echo'"
      },
      "id": "amass-scan",
      "name": "Amass: Passive DNS",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 500],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition"
      },
      "id": "merge-subdomain-sources",
      "name": "Merge Subdomain Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"scan_complete\", \"message\": \"Demo scan completed\", \"timestamp\": $now } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond: Scan Complete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Webhook: Start Demo Scan": {
      "main": [
        [
          {
            "node": "Extract & Validate Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Validate Target": {
      "main": [
        [
          {
            "node": "Create Output Directory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Output Directory": {
      "main": [
        [
          {
            "node": "Subfinder: Subdomain Enumeration",
            "type": "main",
            "index": 0
          },
          {
            "node": "Amass: Passive DNS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subfinder: Subdomain Enumeration": {
      "main": [
        [
          {
            "node": "Merge Subdomain Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Amass: Passive DNS": {
      "main": [
        [
          {
            "node": "Merge Subdomain Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Subdomain Sources": {
      "main": [
        [
          {
            "node": "Respond: Scan Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["demo", "standalone", "no-db"],
  "triggerCount": 0,
  "updatedAt": "2025-11-18T00:00:00.000Z",
  "versionId": "1"
}
