workflows/legacy_2/legacy/project_manager.json
{
  "name": "Project Manager",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "project/create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-create",
      "name": "Create Project Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "project-create"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO projects (name, scope) VALUES ('{{ $json.body.name }}', '{{ JSON.stringify($json.body.scope) }}') RETURNING id, name, scope, created_at;",
        "options": {}
      },
      "id": "postgres-insert",
      "name": "Insert Project",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "response-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Create Project Webhook": {
      "main": [
        [
          {
            "node": "Insert Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Project": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
